:host {
  .page {
    max-width: 1200px;
    margin: auto;
  }

  header {
    text-align: center;
  }

  .container {
    > div {
      float: left;
    }

    .menu {
      width: 200px;
    }
  }
}
